/* Небольшое обнуление стилей, не стал обнулять все теги) */
*, 
*:after, 
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-weight: 400;
    font-family: 'Roboto';
    src: url("fonts/Roboto/Roboto-Italic.ttf");
}

body {
    font-size: 25px;
    height: 100%;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
}

a {
    color: firebrick;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;
}

footer {
    border-top: 1px solid black;
    font-size: 30px;
    text-align: center;
}

footer > img {
    margin-top: 10px;
    width: 25%;
    height: 25%;
}

.animate {
    animation: example-animation 1s ease-in-out;
}

@keyframes example-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
